    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer">
                        <h5>&copy;  Copyright {{date format="YYYY"}}, <a href="{{@blog.url}}/">{{@blog.title}}</a></h5>
                        <h5><small>Follow me on <a href="https://twitter.com/mturzynski" target="_blank">Twitter</a>, <a href="https://github.com/emtea" target="_blank">Github</a> and <a href="https://www.linkedin.com/in/michalturzynski/" target="_blank">LinkedIn</a>.</small></h5>
                    </div>
                </div>
            </div>
        </div>
    </footer>